name: Build and Deploy

on:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build project
        run: yarn build
      - name: Collect files
        run: |
          mkdir -p deploy
          cp -r public deploy/
          cp -r .next/standalone/{*,.*} deploy/
          cp -r .next/static/ deploy/.next/static/
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.DOCKER_HOST }}
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          file: Dockerfile
          tags: ${{ vars.DOCKER_HOST }}/caiwen-blog:latest
      - name: Webhook
        run: |
          set -e
          response=$(curl -s -w "%{http_code}" -o response_body.txt "${{ vars.WEBHOOK }}?token=${{ secrets.WEBHOOK_TOKEN }}")
          cat response_body.txt
          if [ "$response" != "200" ]; then
            echo "Webhook failed with HTTP code $response"
            exit 1
          fi
